<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Панель администратора</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>

        body{
            background:#f5f7fb;
        }

        .card-stat{
            border:none;
            border-radius:20px;
            box-shadow:0 10px 25px rgba(0,0,0,.08);
        }

        .table{
            background:white;
            border-radius:20px;
            overflow:hidden;
        }

        h1{
            font-weight:700;
        }

    </style>

</head>

<body>
{% include "footer.html" %}
{% include "navbar.html" %}

<div class="d-flex justify-content-between align-items-center mb-4">

    <h1>💅 Панель администратора</h1>

    <div>

        <a href="/calendar"
           class="btn btn-primary">
            📅 Календарь
        </a>
        <a href="/gallery_admin"
   class="btn btn-success">
    📸 Галерея
</a>

        <a href="/logout"
           class="btn btn-danger">
            Выйти
        </a>

    </div>

</div>

    <div class="row mb-4">

        <div class="col-md-4">

            <div class="card card-stat text-center p-4">

                <h5>👩 Клиентов</h5>

                <h2>{{ clients|length }}</h2>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card card-stat text-center p-4">

                <h5>📅 Записей</h5>

                <h2>{{ clients|length }}</h2>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card card-stat text-center p-4">

                <h5>💅 Услуги</h5>

                <h2>11</h2>

            </div>

        </div>

    </div>

    <input
            class="form-control mb-4"
            id="search"
            placeholder="🔍 Поиск по имени или телефону...">

    <div class="table-responsive">

<table class="table table-hover align-middle" id="clientsTable">
        <thead class="table-dark">

        <tr>

            <th>ID</th>
            <th>Имя</th>
            <th>Телефон</th>
            <th>Дата</th>
            <th>Время</th>
            <th>Комментарий</th>
            <th>Услуга</th>
            <th>Действия</th>

        </tr>

        </thead>

        <tbody>

        {% for client in clients %}

       {% if client[4] == today %}
<tr class="table-success">
{% else %}
<tr>
{% endif %}

            <td>{{ client[0] }}</td>
            <td>{{ client[1] }}</td>
            <td>{{ client[2] }}</td>
            <td>{{ client[4] }}</td>   <!-- Дата -->
            <td>{{ client[5] }}</td>   <!-- Время -->
            <td>{{ client[6] }}</td>   <!-- Комментарий -->
            <td>{{ client[3] }}</td>   <!-- Услуга -->

            <td>

                <a href="/edit/{{ client[0] }}"
                   class="btn btn-warning btn-sm">
                    ✏️
                </a>

                <a href="/delete/{{ client[0] }}"
                   class="btn btn-danger btn-sm">
                    🗑
                </a>

            </td>

        </tr>

        {% endfor %}

 </tbody>

</table>

</div>

<div class="mobile-card">

{% for client in clients %}

<div class="card shadow mb-3">

    <div class="card-body">

        <h5>👤 {{ client[1] }}</h5>

        <p><strong>📞</strong> {{ client[2] }}</p>
<p><strong>📅</strong> {{ client[4] }}</p>
<p><strong>🕒</strong> {{ client[5] }}</p>
<p><strong>💅</strong> {{ client[3] }}</p>
<p><strong>💬</strong> {{ client[6] }}</p>

        <div class="d-flex gap-2">

            <a href="/edit/{{ client[0] }}"
               class="btn btn-warning flex-fill">
                ✏️ Редактировать
            </a>

            <a href="/delete/{{ client[0] }}"
               class="btn btn-danger flex-fill">
                🗑 Удалить
            </a>

        </div>

    </div>

</div>

{% endfor %}

</div>

<h2 class="mt-5 mb-3">⭐ Отзывы клиентов</h2>

<table class="table table-hover">

    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Оценка</th>
            <th>Отзыв</th>
            <th>Действие</th>
        </tr>
    </thead>

    <tbody>

    {% for review in reviews %}

    <tr>

        <td>{{ review[0] }}</td>
        <td>{{ review[1] }}</td>
        <td>{{ review[2] }} ⭐</td>
        <td>{{ review[3] }}</td>

        <td>

            <a href="/delete_review/{{ review[0] }}"
               class="btn btn-danger btn-sm">
                🗑 Удалить
            </a>

        </td>

    </tr>

    {% endfor %}

    </tbody>

</table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
<script>

const search=document.getElementById("search");

search.addEventListener("keyup",function(){

let value=this.value.toLowerCase();

let rows=document.querySelectorAll("#clientsTable tbody tr");

rows.forEach(row=>{

let text=row.innerText.toLowerCase();

row.style.display=text.includes(value)?"":"none";

});

});

</script>

</body>
</html>

